.table {
  width: 1150px;
  margin: 0 auto;

  form {
    width: 600px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;

    input {
      padding: 10 15px;
      height: 45px;
      font-size: 15px;
      border-radius: 4px;
      border: none;
      margin-right: 5px;
    }

    button {
      font-size: 22px;
      font-weight: 700;
      background-color: #fff;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
  }

  &__id {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #00bc8c;
      cursor: pointer;
    }

    svg:hover {
      color: red;
    }
  }

  table {
    border: 1px solid #464545;
    font-size: 15px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 3px;
    width: 100%;

    th,
    td {
      padding: 8px;
      color: #fff;
      border: 1px solid #464545;
    }

    th {
      background-color: #2c2c2c;
    }

    td {
      background-color: #1b1b1b;
    }
  }

  &__pagination {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;

    &--selected {
      background-color: #00dba3 !important;
    }

    > div {
      display: inline-flex;
      color: #fff;
      border-radius: 5px;

      span {
        width: 64px;
        height: 64px;
        background-color: #00bc8c;
        font-size: 19px;
        line-height: 1.33;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.5s ease;
      }
      span:hover {
        background-color: #00dba3;
      }
      span:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      span:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
